title {
    background-color: aqua;
    color: aliceblue;
}
body {
    background-color: rgb(179, 218, 244);
}
header {
    background-color: rgb(5, 238, 94);
    text-align: center;
}
h1 {
    background-color: rgba(42, 41, 100, 0.966);
    color: aliceblue;
    font-size: 40pt;
    text-align: center;
}
h2 {
    color: rgba(42, 41, 100, 0.966);
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
}
p {
    color: rgba(42, 41, 100, 0.966);
}
img { 
    width: 30%;
}
footer {
    background-color: rgba(42, 41, 100, 0.966);
    color: aliceblue;
}
p {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
