*{
    outline: 2px;
    max-width: 300px;
    color: black;
 }
 :root {
    font-size: 20px;
 }

#parent {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
    background-color: rgb(23, 23, 186);
    gap: 10px;
    
    
}


/*
.top-bar {
    background-color: rgb(255, 149, 0);
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px;
    height: 20px;
    align-items: center;
    display: flex;
}
    */

.bottom-bar {
    background-color: rgb(117, 117, 122);
    height: 60px;
    font-size: 16px;
}
.avatar {
    background-color: rgb(53, 57, 53);
     width: 20px;
     height: 20px;
     border-radius: 50%;
     text-align: right;
     padding-left: 5px;
      padding-top: 5px;
}
.post {
    
    background-color: rgb(183, 183, 178);
    height: 500px;
}

.username {
 
    color: rgb(8, 8, 8);
   margin-left: 10px;
    flex-grow: 1;
    
}

.menu {
    font-size: 24px;
    color: rgb(12, 12, 12);
    line-height: 1;
    display: flex;
}

.like-row {
height: 30px;

}
.like-button {
width: 20px;
height: 20px;
background-color: gray;
border: 1px solid;
margin-top: -10px;


}
.like-button:hover {
background-color: rgb(120, 120, 147);
transform: scale(1.1);

}
.like-count {
    font-size: 16px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
   
}
.left {
float: left;
}
.right {
float: right;
}