* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body {
    display: flex;
    background: green;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}

.page {
    min-height: 200px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.post {
    width: 100%;
    height: 400px;
    background: gainsboro;
    background-position: center;
}

.postcard {
    width: 400px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: gray;
    background-position: center;
}

.userinfo {
    display: flex;
    flex-direction: column;
    font-size: 11px;
}
.name {
    font-weight: 600;
}
.location {
    color: gray;
}

.likes {
    display: flex;
    gap: 10px;
}
.menu {
    font-size: 32px;
    cursor: pointer;
    color: rgb(43, 43, 43);
}

.icon {
    width: 20px;
    height: 20px;
    background: gray;
    border-radius: 20%;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.more {
    color: rgb(160, 160, 160);
    cursor: pointer;
    font-size: 10px;
}
.content {
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.title {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
}
.name {
    font-weight: 600;
}

.userinfo {
    display: flex;
    flex-direction: column;
    font-size: 11px;
}