* {

    outline: 1px solid magenta;
}

#maincontainer {

    width: 100vw;
    height: 100vh;

    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: center;

}


#chessboard {

    width: 400px;
    height: 400px;
    display: flex;
    /* horizontal */
    flex-direction: row;
    /* vertical */
    flex-wrap: wrap;


}


#chessboard div{

    width: 50px;
    height: 50px;

    background-color: gray;


}
#chessboard div:nth-child(odd) {
    background-color: black;
}
#chessboard div:nth-child(even) {
    background-color: white;
}
/* reverse colors every other row */
#chessboard div:nth-child(16n+1),
#chessboard div:nth-child(16n+3),
#chessboard div:nth-child(16n+5),
#chessboard div:nth-child(16n+7) {
    background-color: white;
}
#chessboard div:nth-child(16n+2),
#chessboard div:nth-child(16n+4),
#chessboard div:nth-child(16n+6),
#chessboard div:nth-child(16n+8) {
    background-color: black;
}